::-webkit-scrollbar {
    width: 2px;
}
.view-port{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	height: 98vh;
	overflow: scroll;
}
fieldset {
	margin-bottom: 20px;
	margin-top:10px;
	margin-left: 10px;
}
.func-name {
	display: block;
}
input {
	display: inline-block;
}
.button {
	display: inline-block;
	border: 1px solid #000;
	cursor: pointer;
	width: 75px;
	text-align: center;
}
.button:hover {
	background-color: #000;
	color: #fff;
}
.button:active {
	background-color: #999;
	color: #fff;
}

.chart{
	min-width: 310px; 
	height: 400px; 
	margin: 0 auto;
}

.right-align {
	text-align: right;
}
