#opts-port{
	display: inline-block;
	width: 35vw;
	vertical-align: top;
	height: 98vh;
	overflow: auto;
}
#result-port{
	display: inline-block;
	vertical-align: top;
	width: 63vw;
	height: 98vh;
	overflow: auto;
}
fieldset {
	margin-bottom: 20px;
	margin-top:10px;
	margin-left: 10px;
}
.labelGroup {
	display: inline-block;
	width: 90px;
	text-align: right;
}
input {
	display: inline-block;
}
.button {
	display: block;
	border: 1px solid #000000;
	cursor: pointer;
	width: 75px;
	text-align: center;
	background: #FFFFFF;
}
.button:hover {
	background-color: #000;
	color: #fff;
}
.button:active {
	background-color: #999;
	color: #fff;
}
.chart{
	min-width: 310px; 
	height: 400px; 
	margin: 0 auto;
}
.right-align {
	text-align: right;
}
textarea {
	display: inline-block;
	width: 500px;
	min-height: 100px;
	overflow: scroll;
}